.card {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;
  transition: 2ms;
  padding: 5px;
  color:white;
  background-color:rgb(239, 225, 171);
  /* background-image: url("haridwar-rishikesh-tour.jpg"); */
  text-shadow: 1px 1px blue;
  }
  #card1{
    background-image: url("Rishikeshp1.jpg");
    background-size: 600px 600px;
  }
  #card2{
    background-image: url("Haridwarp3.jpeg");
    background-size: 600px 600px;
  }
  #card3{
    background-image: url("Rishikeshp5.jpg");
    background-size: 600px 600px;
  }
  #card4{
    background-image: url("Rishikeshp2.jpg");
    background-size: 600px 600px;
  }
  .front{
    background-color: #3c787e;
    border: 2px solid black;
    background-image: url("Rishikeshp6.jpg");
    background-size: 1600px 1000px;
    background-blend-mode: multiply;
    /* background-repeat: no-repeat; */
    color: white;
    text-shadow: 2px 2px blue;
    text-align: center;
    box-shadow: 2px 2px 2px yellow;
  }
  a{
    text-decoration:none;
  }
 .frontb{
  padding: 10px;
 /* width: 30%; */
 border: 2px solid white;
 border-radius: 20px;
 background-color:cadetblue;
 color: white;
 text-shadow: 1px 1px red;
 font-size: medium;
 margin: 20px;
 opacity:1;
 }
  .front2{
    background-color: #3c787e;
    opacity: 1.5;
    border: 2px solid black;
    color: white;
    text-align: center;
  }
  img {
    width: 100%;
    border-radius: 20px ;
  }
  video{
    height: 400px;
    width: 400px;
    margin:10px
  }
  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80px;
    background-color: black;
    color: whitesmoke;
    font-size: large;
    padding: 20px;
    text-shadow: 2px 2px 2px blue;
  }
  h2 {
    text-align: center;
    text-shadow: 2px blue;
  }
  hare{
    text-align: center;
    color: #3c787e;
    text-shadow: 2px 2px 2px yellow;
    font-size: large;
  }
  #Rishikesh{
    display: flex;
    justify-content:space-evenly;
    background-color: #DDFF9E;
  }
  .card:hover{
    box-shadow: 2px 2px 8px blue ;
  }
  .frontb:hover{
    background-color: rgb(255, 255, 0);
    border: 2px solid red;
    box-shadow: 2px 2px 2px blue;
    font-size:larger;
    color: blue;
  }
  .regform{
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: larger;
    color: antiquewhite;
    box-shadow: 2px 2px 2px 2px black;
    background-image: url("Rishikeshp1.jpg");
    align-items: center;
    text-align: center;
  }
  .regb{
    padding: 5px;
    width: 80%;
    border: 2px solid white;
    border-radius: 20px;
    background-color: green;
    color: white ;
    text-shadow: 1px 1px red;
    font-size: medium;
    margin: 10px;
    opacity:1;
    background-blend-mode: multiply;
  }
  .regb:hover{
    background-color: rgb(255, 255, 0);
    border: 2px solid red;
    box-shadow: 2px 2px 2px blue;
    color: blue;
  }
  @media(max-width:500px){
    #Rishikesh{
      flex-wrap: wrap;
    }
    .card{
      width: 300px;
     height: 300px;
    }
    #card1{
      background-size: 400px 400px;
    }
    #card2{
      background-size: 400px 400px;
    }
    #card3{

      background-size: 400px 400px;
    }
    #card4{
      background-size: 400px 400px;
    }
    video{
    height: 200px;
    width: 200px;
    margin:10px
  }
  }

  
